body{
  background-color: #000;
}
nav{
  background-color: rgba(0,0,0, 0.3);
}
.li-item{
  font-weight: 900;
  font-size: 1.5em;
}

.landing{
  background-image:url("../images/Group 2.png");
  height: 745px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.screen-type{
  position: relative ;
}

.screen-type::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid;
  animation: blink infinite 0.4s ease;
  padding-left: 2px;
}
@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.about {
  margin-left: 5em;
  margin-top: 80px;
  color: #fff;
  text-shadow: 2px 3px rgba(37,87,187, 0.4);
  background-color:rgba(0,0,0,0.5);
}
.about h4{
  color:#eee;
  margin-bottom: 20px;
}
.about span{
  color: #fd7;
  text-shadow:3px 2px #421;
}
.hire{
  text-align: center;
}
.hire button{
 color: #fd7;
 font-weight: 900;
 font-size: 2em;
 background-color: rgba(37,87,187, 0.4);
 border-color:#fd7;
 text-align: center;
 padding: 8px 16px 8px 16px;
 margin-top: 50px;
 border-radius: 20px;
 text-shadow:2px 2px #421;
}
#section1{
  color: #fff;
}
.skills{
  margin-top: 200px;
  height: fit-content;
  padding: 5%;
}
.skills h1{
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-shadow:2px 2px 3px #421;
  background-color:rgba(0,0,0,0.5);
}
.skill-set{
  margin: 0 0 5px 10px;
  padding: 5%;
  background-color:rgba(0,0,0,0.5);
  height: 320px;
  line-height: 2;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 900;

}
.skill-set:hover{
  background-color:rgba(37,87,187, 0.4);
  box-shadow: 5px 5px 5px 5px  rgb(255,193,58);
  transition: ease-in-out 1.5s;
  text-align: center;
}
.pr-icons{
  margin: 0 10px 0 5px;
  padding: 5%;
  background-color:rgba(0,0,0);
  color: #fff;
  border-radius: 30px;
}
.pr-icons:hover{
  background-color:rgba(37,87,187, 0.4);
  box-shadow: 5px 5px 5px 5px  rgb(255,193,58);
  text-shadow:3px 2px #421;
  transition: ease-in-out 1.5s;
}
.comp{
  display:flex;
  justify-content: space-evenly; 
}
.comp img{
  height: 80px;
  width: 80px;
}
.block-ft{
  display: block;
  text-align: center;
}