*{
  font-family: 'Jost', sans-serif;
}
body{
  background-color: #000;
}
#brand{
  color: #fd7;
  font-weight: 900;
  font-family: lobster;
}
nav{
  background-color: rgba(0,0,0, 0.9);
}

.li-item{
  font-weight: 900;
  font-size: 1.5em;
  color: white;
}

.landing{
  background-image:url("../images/Group 2.png");
  height: 745px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  
}
.land{
  border-left: #fd7 solid;
}
.screen-type{
  position: relative ;
}

.screen-type::after{
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid;
  animation: blink infinite 0.4s ease;
  padding-left: 2px;
}
@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.about {
  margin-left: 5em;
  margin-top: 80px;
  color: #fff;
  text-shadow: 2px 3px rgba(37,87,187, 0.4);
  background-color:rgba(0,0,0,0.5);
  
}
.about h4{
  color:#eee;
  margin-bottom: 20px;
}
.about span{
  color: #fd7;
  text-shadow:3px 2px #421;
}
.hire{
  text-align: center;
}
.hire button{
 color: #fd7;
 font-weight: 900;
 font-size: 2em;
 background-color: rgba(37,87,187, 0.4);
 border-color:#fd7;
 text-align: center;
 padding: 8px 16px 8px 16px;
 margin-top: 50px;
 border-radius: 20px;
 text-shadow:2px 2px #421;
}
#section1{
  color: #fff;
}
.skills{
  margin-top: 200px;
  height: fit-content;
  padding: 5%;
  background-color: rgb(255,255,255);
  text-shadow:2px 2px 3px #000;
}
.skills h1{
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-shadow:2px 2px 3px #000;
  background-color:rgba(0,0,0,0.5);
}
.skill-set{
  margin: 0 0 5px 10px;
  padding: 5%;
  height: 320px;
  line-height: 2;
  font-size: 20px;
  font-weight: 900;
  display: flex;

}
.skill-set h3{
  color: #421;
}
.skill-set img{
  height: 480px;
}
.pr-icons{
  margin: 0 10px 0 5px;
  padding: 5%;
  background-color:rgba(0,0,0);
  color: #fff;
  text-shadow: none;
  border-radius: 30px;
}
.pr-icons:hover{
  color: #000;
  background-color:rgba(37,87,187, 0.4);
  box-shadow: 5px 5px 5px 5px  rgb(255,193,58);
  font-size: 30px;
  text-align: center;
  transition: ease-in-out 1.5s;
}
.pr-icons:hover .grow{
  height: 500px;
  transition: ease-in-out 1.5s;
}
.pr-icons:hover h2{
  text-shadow: 2px 2px #fff;
  transition: ease-in-out 1.5s;
}
.comp{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}
.comp img{
  height: 80px;
  width: 80px;
}
.block-ft{
  display: block;
  text-align: center;
}
#projects{
  padding-top: 50px;
  background-color: #fff;
  
}
.projects{
  margin: 5%;
  padding-bottom: 50px;
}
.my-projects{
  background-color: rgb(157,162,173);
  padding: 5%;
  box-shadow: 0 2px 6px 0;
  margin-bottom: 20px;
  border-radius: 20px;
}
.my-projects:hover{
  box-shadow: 5px 5px 5px 5px  rgb(255,193,58);
  background-color:rgba(37,87,187);
  transition: ease-in-out 1.5s;
}


.projects h1{
  text-align: center;
  padding-bottom: 25px;
  font-weight: 900;
  color: #000;
}
.my-projects a{
  display: block;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.my-projects img{
  width: 100%;
  margin-bottom: 25px;
}
.my-projects a:hover{
  color:#fd7;
  transition: ease-in-out 1.5s;
}
#contact{
  height: 3em;
  color: #fff;
  text-align: center;
}

.icons{
  text-align: center;
}
.icons i{
  font-size: 3em;
  padding: 20px 16px 20px 16px;
}
.icons .ln{
  color: #16c;
}
.icons .git{
  color: #fff;
}
.icons .fb{
  color: #19f;
}
.icons .twitter{
  color: #2af;
}
.fa{
  color: #fff;
}
.footer{
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}
.copy{
  color: #16c;
}